<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<dom-module id="alta-movimientos">

  <template>
    <style>
      :host {
        display: block;
      }
      paper-card{
        margin-left:10%;
        text--align: left;
        width:400px;
        padding: 0 1em 1em 1em;
      }
    </style>
    <paper-card elevation="5">

      <form is="iron-form" id="form">
        <div class="card-content">
          <paper-input label="Cuenta" value="{{email}}" required type="email" id="email"></paper-input>
          <paper-input label="Nombre" value="{{email}}" required type="email" id="email"></paper-input>
          <paper-input label="Monto" value="{{email}}" required type="email" id="email"></paper-input>
          <paper-input label="Tipo de transacción" value="{{email}}" required type="text" id="email"></paper-input>
          <paper-input label="Descripción" required type="text"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised id="guardar">Guardar</paper-button>
          <paper-button>Cancelar</paper-button>
        </div>
      </form>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: "alta-movimientos"
    })
  </script>
</dom-module>
