<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<dom-module id="api-externa">

  <template>
    <style>
      :host {
        display: block;
      }
      paper-card{
        width: 80px;
        height: 120px;
        margin-left: 10px;
        margin-right: 10px;
      }
    </style>
        <paper-card elevation="5">
          <span>ATM 1</span>
        </paper-card>
        <paper-card elevation="5">
          <span>ATM 2</span>
        </paper-card>
        <paper-card elevation="5">
          <span>ATM 3</span>
        </paper-card>
  </template>
  <script>
    Polymer({
      is: "api-externa"
    })
  </script>
</dom-module>
