<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="./hidding-behavior.html">


<dom-module id="form-app">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      paper-card{
        margin-top: 8%;
        text--align: left;
        width:400px;
        padding: 0 1em 1em 1em;
      }
      paper-card .card-actions{
        padding-top: 1em;
        text-align: right;
      }
      paper-input{
        text-align: left;
        margin-left: 8px;
        margin-right: 8px;
      }
      paper-button{
        color: var(--paper-red-500)
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
      paper-card .card-header iron-icon{
        width: 2em;
        height: 2em;
        color: var(--paper-blue-200);
      }
      paper-card .card-header{
        font-size:2em;
        color: var(--paper-grey-800);
      }
    </style>
    <content></content>
    <paper-card elevation="5">
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon>
        Iniciar Sesión
      </div>

      <form is="iron-form" id="form">
        <div class="card-content">
          <paper-input label="Email" value="{{email}}" required type="email" id="email"></paper-input>
          <paper-input label="Contraseña" required type="password"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised id="login">Enviar</paper-button>
          <paper-button>Cancelar</paper-button>
        </div>
      </form>
    </paper-card>
  </template>

  <script>
    Polymer({
      is:"form-app",
      properties: {
        email: {
          type: String,
          observer: "_emailChanges"
        }
      },
      ready: function() {
        this.$.login.addEventListener("click", ()=>{
          this.$.form.submit()
        })
      },
      _emailChanges: function(a,b){
        console.log(a)
        console.log(b)
        console.log(this.email)
      }
    })
  </script>
</dom-module>
