<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./hidding-behavior.html">

<dom-module id="form-button">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <button type="button" name="button">Hola</button>
  </template>

  <script>
    Polymer({
      is: "form-button",
      
    })
  </script>
</dom-module>
