<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="lista-movimientos">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <table class="table">
      <thead class="thead-dark ">
        <th>Cuenta</th>
        <th>Nombre</th>
        <th>Monto</th>
        <th>Número de tarjeta</th>
        <th>Tipo transacción</th>
        <th>Descripción de transaccón</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items = "{{movimientos}}">
              <tr>
                <td>[[item.account]]</td>
                <td>[[item.accountName]]</td>
                <td>[[item.amount]]</td>
                <td>[[item.creditCardNumber]]</td>
                <td>[[item.transactionType]]</td>
                <td>[[item.transactionDescription]]</td>
              </tr>
        </template>
      </tbody>
    </table>
  </template>
  <script>
    Polymer({
      is: "lista-movimientos",
      properties:{
        movimientos:{
          type: Array,
          notify: true
        }
      },
      obtenerMovimientos: function(){
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/movimientos/", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Access-Control-Allow-Origin", "*");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos)
      },
      ready:function(){
        this.obtenerMovimientos()
      }
    })
  </script>
</dom-module>
